@import './Colors.sass'

.App
  text-align: center
  width: 100vw
  min-height: 100vh

.slideshow-panel, .signin-panel
  padding: 15px 20px
  box-sizing: border-box
  text-align: left

.slideshow-panel
  background-image: linear-gradient($light_blue_top, $light_blue_bottom)
  height: 100vh

.signin-panel
  background-image: linear-gradient($dark_blue_top, $dark_blue_bottom)
  height: 100vh
  box-shadow: -10px 2px 15px rgba(0, 0, 0, .1)
  .button.tgl
    float: right
