@import './Colors.sass'

.App
  text-align: center
  width: 100vw
  min-height: 100vh
  .two-panels
    min-height: 100vh
    .panel
      div
        min-height: 100%

.slideshow-panel, .signin-panel
  padding: 15px 20px
  box-sizing: border-box
  text-align: left
