@import './colors.sass'

.social-icon
  width: 30px
  height: 30px
  mask-size: cover
  -webkit-marsk-size: cover
  display: inline-block
  background-image: $rightGradient
  background-color: $dark_blue_bottom
  cursor: pointer
  margin: 0px 5px
